// === COLOR ===
// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start theme-color-variables
$primary: #eebc1c;
$secondary: #ffffff;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;
// scss-docs-end theme-color-variables
$body-bg: #0b1318;

// stylelint-disable value-keyword-case
$font-family-sans-serif: Poppins, Sans-serif, system-ui, -apple-system,
  "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case
// === / COLOR ===

// === NAVBAR ===
// === / NAVBAR ===

// === BUTTON ===
// === / BUTTON ===

// === SHADOW ===
// === / SHADOW ===

// === CARD ===
// === / CARD ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===
