// === NAVBAR ===
.custom-navbar {
  margin-bottom: 82px;

  .navbar-brand {
    font-size: 25px;
  }
}
// === / NAVBAR ===

// === NOW-PLAYING ===
.moviePlaying {
  // content: "";
  background-image: url("../../assets/images/movie-displaybackdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.678);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
// === / NOW-PLAYING ===

// === SEARCH MOVIES ===
.search-form {
  width: 50%;
  margin: auto;

  .search-radio {
    display: flex;
    gap: 6px;
    margin-bottom: 15px;

    .movie-label {
      margin-right: 20px;
    }
  }

  .search-flex {
    display: flex;
    gap: 10px;
  }
}
// === / SEARCH MOVIES ===

// === POPULAR MOVIE ===
.movie-card {
}
// === / POPULAR MOVIE ===

// === MOVIE DETAILS ===
// .overlay-movie-image {
//   background-image: url(../../assets/images/movie-displaybackdrop.jpg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
//   width: 100vw !important;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   opacity: 0.1;
//   position: fixed;
// }

.movie-details {
  .details-top {
    display: flex;
    align-items: center;

    .right-movie-info {
      h2 {
        text-align: center;
        margin-bottom: 15px;
      }

      .btn {
        margin-top: 25px;
      }
    }
  }

  .details-bottom {
    h2 {
      text-align: center;
    }
    ul {
      margin-bottom: 30px;
      padding-left: 0px;
      li {
        list-style: none;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-700;
      }
    }
  }
}
// === / MOVIE DETAILS ===

// === TITLE ===
.show-details {
  .show-top {
    display: flex;
    align-items: center;

    .right-show-info {
      h2 {
        text-align: center;
        margin-bottom: 15px;
      }

      .btn {
        margin-top: 25px;
      }
    }
  }

  .show-bottom {
    h2 {
      text-align: center;
    }
    ul {
      margin-bottom: 30px;
      padding-left: 0px;
      li {
        list-style: none;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-700;
      }
    }
  }
}
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===
