// === NAVBAR ===
.custom-navbar {
  .navbar {
    .navbar-brand {
      font-size: 25px;
    }
  }
}
// === / NAVBAR ===

// === NOW-PLAYING ===
.now-playing {
  &__contents {
    height: 200px;
    background-color: $black;
    position: relative;
    text-align: center;

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
// === / NOW-PLAYING ===

// === SEARCH MOVIES ===
.search-form {
  width: 50%;
  margin: auto;

  .search-radio {
    display: flex;
    gap: 6px;
    margin-bottom: 15px;

    .movie-label {
      margin-right: 20px;
    }
  }

  .search-flex {
    display: flex;
    gap: 10px;
  }
}
// === / SEARCH MOVIES ===

// === POPULAR MOVIE ===
.movie-card {
}
// === / POPULAR MOVIE ===

// === MOVIE DETAILS ===
// .overlay-movie-image {
//   background-image: url(../../assets/images/movie-displaybackdrop.jpg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
//   width: 100vw !important;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   opacity: 0.1;
//   position: fixed;
// }

.movie-details {
  .details-top {
    display: flex;
    align-items: center;

    .right-movie-info {
      h2 {
        text-align: center;
        margin-bottom: 15px;
      }

      .btn {
        margin-top: 25px;
      }
    }
  }

  .details-bottom {
    h2 {
      text-align: center;
    }
    ul {
      margin-bottom: 30px;
      li {
        margin-bottom: 5px;
      }
    }
  }
}
// === / MOVIE DETAILS ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===
